* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../assets/img/bg.jpg) no-repeat;
    background-size: 120%;
    background-position: top center;
    --font-color: #8c6900;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5)
}

.common {
    border: 0.4rem solid var(--font-color);
    border-radius: 4.6875rem;
    background: linear-gradient(180deg, #ffe699 50%, #ffd24d 50%);
}

.header {
    display: flex;
}

.date {
    flex: 3;
    height: 2rem;
    margin: 0.5rem 2rem 0.5rem 0.5rem;
}

.date p {
    color: var(--font-color);
    line-height: 2rem;
    text-align: center;
}

.money {
    flex: 5;
    height: 2rem;
    margin: 0.5rem;
}

.money p {
    font-size: .875rem;
    color: var(--font-color);
    line-height: 2rem;
    text-align: right;
    padding-right: 1.5rem;
}

.chefs {
    position: absolute;
    top: 3.5rem;
    background-color: #ffd24d;
    border: 0.4rem solid white;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.customers {
    position: absolute;
    bottom: 1.5rem;
    background-color: #ffa64d;
    border: 0.4rem solid white;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#menu {
    background-color: rgba(0, 0, 0, 0.5);
}

.welcome-menu {
    background-color: #ffd24d;
    border: 0.4rem solid white;
    border-radius: 1rem;
    width: 100%;
    margin: auto 0.5rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    z-index: 50;
}

.btn-welcome {
    width: 80%;
    height: 4rem;
    border: 0.2rem solid var(--font-color);
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem auto;
}

.menu-title {
    color: #513a00;
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5rem;
    font-weight: normal；
}

.menu-content {
    color: #8c6800;
    font-size: 1rem;
    margin: 0.5rem 2.5rem;
    line-height: 1.5rem;
}

.metter {
    display: flex;
    width: 80%;
    margin: 0.5rem auto;
    justify-content: space-between;
}

.menu-a {
    color: #8e6a01;
    font-size: 1.2rem;
}

.alert {
    width: 18rem;
    height: 4rem;
    border: 0.4rem solid white;
    border-radius: 1rem;
    position: relative;
    top: 2rem;
}

.warning {
    background-color: #ffb399;
}

.safety {
    background-color: #d9e67d;
}

.alert>p {
    line-height: 1.5rem;
    margin: 0.5rem 1rem;
    color: var(--font-color);
    font-weight: normal;
}

.order-menu {
    background-color: #ffd24d;
    border: 0.4rem solid white;
    border-radius: 1rem;
    width: 100%;
    margin: auto 0.5rem;
    height: 33rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: .5rem;
}

/* .menu .customer {
    position: absolute;
    top: -4rem;
    left: 5rem;
}

.menu .title {
    position: absolute;
    top: 2rem;
    left: 16rem;
    color: #513a00;
    font-size: 2rem;
} */

.order-form {
    width: 23rem;
    height: 25rem;
    margin: 0 auto;
    background-color: white;
    border: 0.4rem solid #d9b547;
    font-size: 1rem;
    color: #8c6600;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.order-form h3 {
    align-self: flex-start;
    margin: 0.6rem 1.2rem;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

.menu-item span {
    margin: 0 1rem;
}

.alert-title {
    color: #513a00;
    text-align: right;
    font-size: 1rem;
    margin: 1rem 1rem;
    font-weight: normal；
}

.order-btn {
    display: flex;
}

.btn-order {
    height: 3rem;
    border: 0.2rem solid var(--font-color);
    color: var(--font-color);
    font-weight: 200;
    font-size: 1.2rem;
    margin: 0.5rem 1rem;
}

.order {
    flex: 6;
    margin-right: 0.5rem;
}

.quit {
    flex: 4;
    margin-left: 0.75rem;
}

/* .waiting {
    position: absolute;
    bottom: 25rem;
    right: 35rem;
    background: transparent;
    height: 100rem;
    width: 430rem;
    display: flex;
    justify-content: flex-end;
} */

.chef {
    margin: 0.75rem;
    margin-right: 1.5rem;
}

.customer {
    margin: 0.75rem;
    margin-right: 6rem;
}

.seat {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.5rem solid #fff;
    overflow: hidden;
}

.unuse {
    background: linear-gradient(-90deg, #aaa 50%, #ddd 50%);
}

.finished {
    background: linear-gradient(-90deg, #ac91ff 50%, #7a4dff 50%);
}

.paying {
    background: linear-gradient(-90deg, #80ff00 50%, #00b200 50%);
}

.cooking {
    background: linear-gradient(-90deg, #ff9122 50%, #d96d00 50%);
}

.sitting {
    background: linear-gradient(-90deg, #ff2626 50%, #b20000 50%);
}

.waiting {
    background: linear-gradient(-90deg, #2693ff 50%, #006dd9 50%);
}

.avatar {
    width: 5rem;
    height: 5rem;
}

.avatar1 {
    background: url("../assets/img/customer_1.png");
    background-position: center center;
    background-size: 120%;
}

.avatar2 {
    background: url("../assets/img/customer_2.png");
    background-position: center center;
    background-size: 120%;
}

.avatar3 {
    background: url("../assets/img/customer_3.png");
    background-position: center center;
    background-size: 120%;
}

.avatar4 {
    background: url("../assets/img/customer_4.png");
    background-position: center center;
    background-size: 120%;
}

.avatar5 {
    background: url("../assets/img/customer_5.png");
    background-position: center center;
    background-size: 120%;
}

.avatar6 {
    background: url("../assets/img/customer_6.png");
    background-position: center center;
    background-size: 120%;
}

.avatar7 {
    background: url("../assets/img/customer_7.png");
    background-position: center center;
    background-size: 120%;
}

.chef_img {
    background: url("../assets/img/chef.png");
    background-position: center center;
    background-size: 120%;
}

.no-chef {
    background: url("../assets/img/no-chef.png");
    background-position: center center;
    background-size: 120%;
}